.form-control{ 
    padding: 10px;
    }
    
    
    .nav-prop{
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        height: 70px;
    
    }
    
    .nav-el-prop{
        margin-top: 10px;
    }
    
    
    .img-settings-prop{
        margin-left: 43%;
    }
    
    .fa-trash{
        color: red;
        font-size: 20px;
        margin-left: 90%;
    }
    
    .hashTag-Area{
        background-color: white;
         height: 500px; 
         margin-top: 84px;
         
    }
    
    
    .hashTag-header{
        color: rgb(26, 137, 228);
        text-align: center;
        margin-top: 20px;
    }
    body{
        padding:50px;
      }
      .panel-heading{
        font-size:22px;
        font-weight:bold;
      }
      .panel-body b{
        font-size:20px;
      }
      .panel-body p{
        font-size:18px;
        padding-left:12px;
      }