
<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
     <li class="nav-item">
   <b>   <a [routerLink]="['/blogs']" class="nav-link">
        Blogs
      </a></b></li>
     <li>
      <b><a [routerLink]="['/create']" class="nav-link" >
        Create Blog
      </a></b>
    </li><br>
   
      <li class="nav-item">
     <b>   <a class="nav-link" href="#">LogOut</a></b>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">BLOG MANAGEMENT WEBSITE</h3>
</header>

<router-outlet></router-outlet>