<app-home></app-home>


  <div class="row card-group">
    <div class="col-8"  *ngFor="let blog of blogs | slice:0:9">
        <div class="card" style="width: 105rem; margin-top: 24px;">
            <img class="card-img-top" src="assets/test-img.jpg" alt="Card image cap" style="width:105rem; height:29rem">
            
            <h3 class="card-title">{{blog.BlogTitle}}</h3>
            <p class="card-text">{{blog.BlogDescription}}</p>
            <p class="card-text">{{blog.Author}}</p>
            <p class="card-text">{{blog.AuthorDescription}}</p>
            <a [routerLink]="['/edit', blog._id]" class="btn btn-primary">Edit</a>
            <a (click) = "deleteblog(blog._id)" class="btn btn-danger">Delete</a>

        </div>
    </div>
</div>