<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate (ngSubmit)="onClickSubmit(BlogTitle.value,BlogDescription.value,Author.value,AuthorDescription.value)">
        <div class="form-group">
          <label class="col-md-4">Blog Title</label>
          <input type="text" class="form-control" 
            formControlName="BlogTitle" 
            #BlogTitle 
            [(ngModel)] = "blog.BlogTitle"/>
        </div>
        <div *ngIf="angForm.controls['BlogTitle'].invalid && (angForm.controls['BlogTitle'].dirty || angForm.controls['BlogTitle'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['BlogTitle'].errors.required">
            Blog Title is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Blog Description </label>
          <textarea class="form-control" rows = 7 cols = "5"
          formControlName="BlogDescription" 
          #BlogDescription [(ngModel)] = "blog.BlogDescription"></textarea>
        </div>
        <div *ngIf="angForm.controls['BlogDescription'].invalid && (angForm.controls['BlogDescription'].dirty || angForm.controls['BlogDescription'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['BlogDescription'].errors.required">
            Blog Description is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Author</label>
          <input type="text" class="form-control" 
            formControlName="Author" 
            #Author
            [(ngModel)] = "blog.Author"/>
        </div>
        <div *ngIf="angForm.controls['Author'].invalid && (angForm.controls['Author'].dirty || angForm.controls['Author'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['Author'].errors.required">
            Author is required.
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Author Description</label>
            <textarea class="form-control" rows = 7 cols = "5"
              formControlName="AuthorDescription" 
              #AuthorDescription
              [(ngModel)] = "blog.AuthorDescription"></textarea>
          </div>
          <div *ngIf="angForm.controls['AuthorDescription'].invalid && (angForm.controls['AuthorDescription'].dirty || angForm.controls['AuthorDescription'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['AuthorDescription'].errors.required">
              Author Description is required.
            </div>
          </div>
        <div class="form-group">
          <input type="submit" value="submit"  class="btn btn-primary"
          [disabled]="angForm.invalid" >
            
          
        </div>
      </form>
    </div>
  </div>